{% extends 'base.html.twig' %}


{% block title %}CONDITIONS GENERALES DE VENTE {% endblock %}

{% block body %}

    <h1 class=" primary-title">ENVIRO SERVICES France 2020</h1>


    <h2 class="primary-title">1. APPLICATION ET OPPOSABILITE DES CONDITIONS GENERALES DE VENTE</h2>

Toute commande de l’acheteur ou tout acte de commerce entre ENVIRO SERVICES FRANCE et toute personne dument habilitee, matérialisé ou non par une convention écrite, est régi par les Conditions Générales de Vente en vigueur au moment de la commande qui sont seules applicables aux Produits.

En conséquence, toute condition contraire posée par l’acheteur, quels qu’en soient le moment et le support (conditions générales d’achat, lettres, commandes, etc.), sera inopposable à ENVIRO SERVICES FRANCE, à moins qu’elle n’ait été formellement et préalablement à la commande acceptée par écrit et signée par ENVIRO SERVICES FRANCE. En outre, en cas de contradiction entre différents documents émanant de ENVIRO SERVICES FRANCE et contenant des conditions générales de vente, seules les plus récentes à la date de la commande seront applicables à la commande précitée.


    <h2 class="primary-title">2. COMMANDE</h2>

Les commandes sont faites par e-mail, courrier, ou par Echanges de Données Informatisées ou via notre palteforme web. Néanmoins, toute commande est subordonnée à l’acceptation de ENVIRO SERVICES France.

ENVIRO SERVICES FRANCE se réserve le droit de refuser la commande, notamment en cas de retard de paiement ou d’antécédents liés aux paiements.

Toute modification ou annulation de commande par l’acheteur ne pourra être acceptée par ENVIRO SERVICES FRANCE, que dans la mesure où elle lui aura été signifiée par écrit avec accusé de réception et au plus tard dans les 24h qui suivent la date de commande, sauf si sa préparation a déjà été lancée.

    <h2 class="primary-title">3. LIVRAISON</h2>

    <h3 class="secondary-title">3.1. Livraison des produits</h3>

Les livraisons sont effectuées en fonction des disponibilités. ENVIRO SERVICES FRANCE peut notamment procéder à des livraisons partielles.


Lors de la commande, la date de livraison éventuellement convenue avec l’acheteur est purement indicative, compte tenu, notamment, des contraintes d’approvisionnement ENVIRO SERVICES FRANCE à l’égard de ses fournisseurs et des éventuelles ruptures de stocks de certains produits chez lesdits fournisseurs.

Si nécessaire, préalablement à la livraison, les plateformes logistiques d’ENVIRO SERVICES FRANCE et de l’acheteur conviennent par télécopie ou par mail de la date de livraison.

Les livraisons sont effectuées, en France métropolitaine, du lundi au vendredi, dans les locaux ou entrepôts de l’acheteur. Elles sont franco de port pour les commandes supérieures a 300€ HT.

A défaut, une participation forfaitaire aux frais de port d’un montant de 8€ HT par colis sera facturée à l’acheteur et indiquée dans l’offre commerciale.

Hors France Métropolitaine, les frais de port sont à la charge de l’acheteur et les modalités de livraison sont définies entre ENVIRO SERVICES FRANCE et l’acheteur.

    <h3 class="secondary-title">3.2. Réserves sur livraison</h3>

L’acheteur est tenu de vérifier au moment de la livraison que la marchandise reçue est conforme en qualité et en quantité au bon de livraison présent dans les colis livrés. Il appartient à l’acheteur en cas d’anomalie concernant la livraison (avarie, manquant, colis endommagé, produits cassés, boites abimées, ou autre) de faire toutes réserves sur livraison sur les documents de transport, en présence du livreur. Elles doivent être écrites, lisibles, signées par une personne habilitée : elles devront stipuler la référence du colis, les quantités et références des produits, l’état précis de la défectuosité des colis et produits concernés. Ces réserves sur livraison devront être confirmées par lettre recommandée avec avis de réception auprès du transporteur, dans les trois (3) jours qui suivent la réception des Produits (article L 133.3 du code du commerce). L’acheteur communiquera par mail à ENVIRO SERVICES FRANCE, ses réserves écrites ainsi que la copie du courrier recommandé envoyé au transporteur, dans les trois (3) jours suivant la réception des Produits. A défaut de notification desdites réserves sur livraison auprès du

transporteur et de ENVIRO SERVICES FRANCE dans les délais requis, l’acheteur ne pourra demander aucune indemnisation ou aucun dédommagement à ENVIRO SERVICES FRANCE à quelque titre que ce soit.



    <h3 class="secondary-title">3.3. Réclamations sur non-conformité des produits livrés</h3>

L’acheteur devra formuler par mail avec accusé de réception à ENVIRO SERVICES FRANCE, à l’adresse serviceclients@enviroservicesfrance.com, toute réclamation relative aux vices apparents ou à la non-conformité en nature ou en qualité des produits livrés, dans un délai de trois (2) jours (48 heures) suivant la livraison des Produits. La réclamation doit préciser le nom de l’acheteur, date de livraison, quantités et références des produits concernés, description précise du défaut de conformité. Il appartiendra alors à l’acheteur de fournir tout justificatif quant à la réalité des vices ou anomalies constatés et de laisser toute facilité à ENVIRO SERVICES FRANCE pour procéder à leur constatation et le cas échéant, pour y remédier. L’acheteur s’abstient d’intervenir lui-même ou de faire intervenir un tiers à cette fin sur les produits livres. A défaut, ENVIRO SERVICES FRANCE, sera dégagée de toute obligation vis-à-vis de l’acheteur et les Produits seront réputés acceptés conformes par celui-ci.

    <h3 class="secondary-title">3.4 Retours marchandises</h3>


Tout retour de Produit doit faire l’objet d’un accord préalable de ENVIRO SERVICES FRANCE formalisé par l’envoi d’un bon de retour comportant un numéro de retour. Le retour devra ensuite être effectué auprès de ENVIRO SERVICES FRANCE dans un délai maximum de 15 jours après obtention du bon de retour. Le numéro de retour devra figurer clairement sur le colis retourné, et le bon de retour glissé à l’intérieur du colis. Les produits retournés ne doivent pas avoir été utilisés, en parfait état, leurs accessoires et notices d’utilisation sous emballage d’origine. Les frais et risques du retour sont à la charge de l’acheteur.
Tout produit retourné ne respectant pas ces conditions (accord de retour inexistant, mauvais état des marchandises..) ne donnera pas lieu à l’établissement d’un avoir et l’acheteur se chargera de le récupérer dans un délai maximum de 15 jours. La facture afférente auxdits produits reste due par l’acheteur.
Aucune reprise d’invendus n’est acceptée par ENVIRO SERVICES FRANCE.

    <h2 class="primary-title">4. PRIX ET CONDITIONS COMMERCIALES</h2>

    <h3 class="secondary-title">4.1. Prix</h3>

Sauf stipulations contraires, les prix indiqués sont en euros (€), hors taxes. Le prix applicable est celui en vigueur au moment de l’acceptation de la commande par ENVIRO SERVICES FRANCE, conformément aux Conditions Tarifaires de ENVIRO SERVICES FRANCE. Il appartient à l’acheteur en cas de facturation sans réception de marchandises, ou de litiges sur le contenu de la facture (adresse, intitulés, prix …) de transmettre par mail avec accusé de réception à ENVIRO SERVICES FRANCE, toutes réclamations, dans un délai de dix (10) jours à compter de la date d’émission de la facture. A défaut, ENVIRO SERVICES FRANCE sera dégagée de toute

obligation vis-à-vis de l’acheteur et les produits seront réputés avoir été livrés conformes à la commande. La facturation sera également réputée conforme à la commande.


    <h3 class="secondary-title">4.2. Devis et acceptation</h3>

Une fois sa commande reçue par ENVIRO SERVICES France, l’acheteur se verra transmettre un devis provisoire tenant compte des services initialement demandés par celui-ci. Or, il esta noter qu’un devis definitif sera envoyé a l’acheteur une fois les produits revises et les diagnostics effectues. L’acheteur devra ainsi valider son devis donc les conditions de paiement selon qu’il prepaie ou beneficie d’un delai speficique.


    <h3 class="secondary-title">4.3. Facturation - Conditions de paiement</h3>

Les factures émises par ENVIRO SERVICES FRANCE sont payables comptant par les clients ayant passé moins de 2 commades et dont le compte ne peut etre approuvé par notre organisme financier partenaire. Une fois le compte ouvert chez ce meme prestataire, les clients disposeront d’un delai de 30 jours pour regler leur facture. Les commandes effectuées sur le site web www.enviroservicesfrance.com sont payables par carte bancaire sur le site ou par virement bancaire à 30 jours après émission de la facture par ENVIRO SERVICES France aupres de l’organisme financier.

L’acheteur déclare être informé et accepte la possibilité de recevoir les factures sous forme dématérialisée.

Pour l’application du présent article, le paiement est réputé effectué à la date à laquelle l’intégralité du prix est créditée sur le compte bancaire de ENVIRO SERVICES FRANCE hors prise en compte des éventuelles dates de valeur bancaire. La simple remise par l’acheteur d’un titre valant obligation de payer (chèque ou autre) ne constitue pas un paiement. Aucun escompte n’est consenti à l’acheteur en contrepartie d’un paiement anticipé.

En cas de retard de paiement, ENVIRO SERVICES FRANCE appliquera une pénalité égale au taux de refinancement de la BCE majoré de 10%. Ces intérêts courront du jour de l’échéance jusqu’au paiement total de la créance, et seront de plein droit exigibles sans qu’une mise en demeure ne soit nécessaire. Et le débiteur sera redevable, en plus de ce solde, d’une indemnité forfaitaire pour frais de recouvrement égale à 20 % du solde de la créance impayée et ne pouvant être inférieur à quarante (40) euros. Cette indemnité est due de plein droit, sans mise en demeure préalable, du seul fait du non-respect de la date d’échéance par le débiteur.

Par ailleurs, en cas de retard de paiement ou de paiement partiel et jusqu’à régularisation des sommes dues, ENVIRO SERVICES FRANCE pourra, d’une part, suspendre toutes les commandes en cours et, d’autre part, toutes les sommes qui seraient dues au titre d’autres livraisons (ou pour toute autre cause) deviendraient immédiatement exigibles.

En outre, ENVIRO SERVICES FRANCE se réserve la faculté de se payer par compensation entre les sommes dues par l’acheteur et les sommes qui pourraient être dues par ENVIRO SERVICES FRANCE à l’acheteur.
En cas de défaut de paiement, huit (8) jours après mise en demeure restée infructueuse, la vente sera résiliée de plein droit si bon semble à ENVIRO SERVICES
FRANCE qui pourra demander la restitution des Produits, aux frais de l’acheteur, sans préjudice de tous autres dommages et intérêts. De même, lorsque le paiement est échelonné, le non-paiement d’une seule échéance entraînera l’exigibilité immédiate de la totalité de la dette, sans mise en demeure.

Les frais de recouvrement contentieux des factures émises par ENVIRO SERVICES FRANCE sont à la charge de l’acheteur, y compris les honoraires d’officiers ministériels.


    <h2 class="primary-title">5. GARANTIE- RESPONSABILITE</h2>

Se referrer à la charte SAV ENVIRO SERVICES France pour les details de PMS (Panne a la Mise en Service) et SAV (Service Apres-Vente) standard.


    <h2 class="primary-title">6. PROPRIETE INTELLECTUELLE</h2>

L’acheteur n’a aucun droit, de quelque nature que ce soit, sur les marques, logos et/ou tout autre signe distinctif utilisés ou qui seraient utilisés par ENVIRO SERVICES FRANCE, et/ ou les constructeurs et/ou les autres partenaires. En conséquence, l’acheteur s’engage notamment à ne pas associer, directement ou indirectement, à sa marque, enseigne, nom commercial ou tout autre signe distinctif qui lui seraient propres, les marques, logos et/ou tout autre signe distinctif susmentionnés dans des conditions de nature à tromper le consommateur ou tout tiers sur l’appartenance des marques, logos et/ou tout signe distinctif susvisés.

Par ailleurs, l’acheteur s’engage par avance à respecter les chartes graphiques, lors de toute utilisation des marques, logos et/ou tout autre signe distinctif.

L’acheteur s’engage à signaler immédiatement à ENVIRO SERVICES FRANCE toute imitation, contrefaçon ou tout acte de concurrence déloyale dont il aurait connaissance, susceptible de porter un préjudice quelconque aux droits et/ou intérêts ENVIRO SERVICES FRANCE et/ou des constructeurs et/ou des autres partenaires.

    <h2 class="primary-title">9. LOI APPLICABLE ET JURIDICTION COMPETENTE</h2>

Les présentes conditions et tout acte de commerce entre ENVIRO SERVICES FRANCE et toute personne sont soumis exclusivement au droit français.
Le tribunal de commerce de Nanterre sera seul compétent. Toutefois, ENVIRO SERVICES FRANCE pourra, à sa discrétion, intenter également une action contre l’acheteur auprès de la juridiction dans le ressort ce dernier est domicilié.

{% endblock %}