{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('footer') }}
{% endblock %}
{% block title %}COOKIES {% endblock %}

{% block body %}
    <main class="main-cookies container">
        <h1 class="primary-title">Cookies</h1>

        <div class="cookies-content">
            <p>Lorsque vous utilisez nostre site, des informations liées à la navigation de votre terminal (ordinateur, tablette, smartphone, etc.), peuvent être enregistrées dans des fichiers "cookies" déposés sur votre terminal. Vous avez la possibilité d’exprimer vos choix concernant ces cookies, et de les modifier à tout moment.</p>

            <h3 class="secondary-title">Qu'est-ce qu'un cookie?</h3>
            <p>
                Le terme « cookie » fait référence à de multiples technologies (cookies, tag, pixel, code Javascript etc.) permettant d’opérer un suivi de navigation ou une analyse comportementale du visiteur d’un site. Ces technologies sont en constante évolution.
                Le cookie est un petit fichier texte enregistré par le navigateur de votre ordinateur, tablette ou smartphone et qui permet de conserver des données utilisateur afin de faciliter la navigation et de permettre certaines fonctionnalités.
                A quoi servent les cookies, tags et traceurs depuis notre site ?
                ESF émet différents types de cookies dont l’usage est décrit ci-dessous
            </p>
            <h3 class="secondary-title">Cookies fonctionnels</h3>
            <p>
                Ces cookies sont indispensables à la navigation sur notre site, et permettent notamment de mémoriser des informations collectées via un formulaire complété par vos soins (création ou accès à votre compte, service souscrit, contenu d'un panier de commande, etc.) ;

                de vous permettre d'accéder à des espaces réservés et personnels de nos sites, tels que votre compte, grâce à des identifiants ;

                de mettre en œuvre des mesures de sécurité, par exemple lorsqu’il vous est demandé de vous connecter à nouveau à votre compte après un certain temps.

                Cookies analytiques et de mesure d’audience
                Ces cookies permettent d'établir des statistiques et de suivre les volumes de fréquentation et d'utilisation de nos services, afin d’améliorer ceux-ci ainsi que votre expérience en tant qu’utilisateur de notre site. Pour se faire, nous utilisons des cookies de mesure d’audience et notamment Google Analytics.
                Personnalisation des publicités selon vos centres d’intérêt

                Nous avons à cœur de vous présenter des offres et publicités les plus pertinentes pour vous, ce que nous faisons grâce à des cookies publicitaires qui permettent de vous afficher, en temps réel, le contenu le plus adapté à vos centres d’intérêt déduits de votre navigation récente.
                Personnalisation de l’expérience utilisateur

                Ces cookies de personnalisation nous permettent :

                d'adapter la présentation de notre site selon le terminal utilisé ;

                d’adapter la présentation de nos sites selon les affinités de chaque utilisateur.  utilise notamment une solution d’A/B testing ayant recours aux cookies pour personnaliser les contenus et d’en proposer des variantes. Ces cookies ne sont pas indispensables mais vous permettent une navigation fluide sur nos sites et ce, quel que soit le device que vous utilisez.



                La plupart de ces cookies expirent lorsque vous mettez fin à votre visite sur nos sites. D’autres ont une durée de vie plus longue, mais celle-ci n’excède jamais 13 mois, conformément à la réglementation en vigueur.



                Pour votre parfaite information, vous trouverez ici la liste exhaustive des cookies susceptibles d’être déposés sur votre terminal.

            </p>

            <h3 class="secondary-title">Accepter ou refuser les cookies</h3>
            <p>
                Plusieurs possibilités vous sont offertes pour gérer les cookies. Tout paramétrage que vous pouvez entreprendre (acceptation ou refus des cookies) sera susceptible de modifier votre navigation sur nos sites et vos conditions d'accès à certains services nécessitant l'utilisation de ces mêmes cookies.

                Si vous choisissez de refuser l’enregistrement de cookies dans votre terminal ou si vous supprimez ceux qui y sont enregistrés, nous déclinons toute responsabilité pour les conséquences liées au fonctionnement dégradé de nos services résultant de l'impossibilité pour nous d'enregistrer ou de consulter les cookies nécessaires à leur fonctionnement.



                Vous pouvez faire le choix à tout moment d’exprimer et de modifier vos souhaits en matière de cookies, par les moyens décrits ci-dessous.


            </p>

            <h3 class="secondary-title">Le parmétrage de votre navigateur internet</h3>
            <p>
                Vous pouvez à tout moment choisir de désactiver ces cookies. Votre navigateur peut également être paramétré pour vous signaler les cookies qui sont déposés dans votre terminal et vous demander de les accepter ou non. Vous pouvez accepter ou refuser les cookies au cas par cas ou bien les refuser systématiquement une fois pour toutes.



                Nous vous rappelons que le paramétrage est susceptible de modifier vos conditions d'accès à nos services nécessitant l'utilisation de cookies.



                Si votre navigateur est configuré de sorte à refuser la totalité des cookies, vous ne pourrez par exemple plus effectuer d'achats ou profiter de fonctions essentielles de notre site (par exemple, ajouter des articles à votre panier). Afin de gérer les cookies au plus près de vos besoins, nous vous invitons à paramétrer votre navigateur en tenant compte de la finalité des cookies telle que mentionnée ci-dessus.



                Pour la gestion des cookies et de vos choix, la configuration de chaque navigateur est différente. Elle est décrite dans le menu d'aide de votre navigateur, qui vous permettra de savoir de quelle manière modifier vos choix.

            </p>


            <a href="http://support.google.com/chrome/bin/answer.py?hl=fr&hlrm=en&answer=95647">Chrome</a>

            <ul id="cookies-steps">
                <li>Dans le menu de Chrome, sélectionnez « Paramètres »</li>

                <li>Affichez les paramètres avancés</li>

                <li>Allez dans le paragraphe « Confidentialité »</li>

                <li>Cliquez sur « Paramètres de contenu »</li>

                <li>Dans le paragraphe « cookies » (premier paragraphe), cliquez sur « cookies et données de site »</li>

                <li>Recherchez les cookies que vous voulez supprimer et cliquez sur « OK ». Vous pouvez aussi choisir de supprimer tous vos cookies.</li>

            </ul>

            <a href="http://support.mozilla.org/fr/kb/Activer%20et%20d%C3%A9sactiver%20les%20cookies">Firefox</a>

            <ul id="cookies-steps">
                <li>Dans le menu de Firefox, allez dans « Outils » puis dans « Options »</li>
                <li>Sur l’onglet « Vie Privée », cliquez sur « Afficher les cookies »</li>
                <li>Recherchez les cookies que vous voulez supprimer et cliquez sur « Supprimer les cookies»</li>
            </ul>

            <a href="http://windows.microsoft.com/fr-FR/windows-vista/Block-or-allow-cookies">
                Internet Explorer
            </a>
            <ul id="cookies-steps">
                <li>Cliquez sur « outils » puis sur « Options Internet »</li>
                <li>
                    Dans l'onglet « Général », rubrique « Historique de navigation », cliquez sur « Supprimer »
                </li>
                <li>Cochez la case « cookies » puis cliquez sur « Supprimer »</li>
            </ul>

            <a href="http://docs.info.apple.com/article.html?path=Safari/3.0/fr/9277.html">Safari</a>

            <ul id="cookies-steps">
                <li>Dans le menu de Safari, sélectionnez « Préférences »</li>
                <li>Dans la fenêtre qui s’est ouverte, allez sur l’onglet « Sécurité »</li>
                <li>Cliquez sur « Afficher les cookies »</li>
                <li>Dans la fenêtre qui s’est ouverte, recherchez et sélectionnez les cookies que vous voulez supprimer, et cliquez sur « Supprimer »</li>
            </ul>

            <h3 class="secondary-title">Navigation privée</h3>
            <p>
                La « Navigation privée », proposée aujourd’hui par tous les navigateurs, permet notamment de naviguer « anonymement », c’est-à-dire sans que votre historique de pages visitées et vos téléchargements ne soient conservés. Concernant les cookies, tous ceux qui ont été enregistrés durant votre navigation seront effacés à la fermeture de votre navigateur. Il ne s’agit donc pas d’une solution permettant de refuser les cookies ; cependant leur durée de vie reste alors limitée à la durée de votre navigation.
            </p>

            <p>
                Plus d'informations sur les cookies, tags et trace sur <a href="http://www.cnil.fr/vos-dsroits/vos-traces/les-cookies/">le site </a>de la CNIL
            </p>
        </div>

    </main>
{% endblock %}
