{% extends 'base.html.twig' %}

{% block title %}Enviro Services France{% endblock %}

{% block body %}
    <main class="home container">
        <section class="carousel">
            <div class="row mt-4">
                <div class="col-7">
                    Ici le carrousel avec mise en avant d'Enviro Services et mots clés qui apparaissent
                </div>
                <div class="col-5 flex-column">
                    <img src="/images/envirohome.png" title="EnviroServices" class="img-responsive" width="400px">
                </div>
            </div>
            <div class="row justify-content-center mt-4">
                <div class="col-6">
                    <p class="font-italic text-center">Enviro Services France est la plateforme de trading qui simplife
                        et sécurise votre sourcing en produits technologiques reconditionnés</p>
                    <hr>
            </div>
        </section>
        <section class="suivi">
            <h2 class="primary-title">SUIVI</h2>
            <div class="row justify-content-center">
                <div class="col text-center">
                    <img src="/images/suivi-livraison.png" title="Livraison" class="img-responsive">
                    <p>Livraison</p>
                </div>
                <div class="col text-center">
                    <img src="/images/suivi-paiement.png" title="Paiement" class="img-responsive">
                    <p>Facilité de paiement</p>
                </div>
                <div class="col text-center">
                    <img src="/images/suivi-retour.png" title="SAV" class="img-responsive">
                    <p>Retour SAV</p>
                </div>
            </div>
            <div class="row">
                <div class="col-10 text-center bg-light m-auto">
                    <video controls>
                        Sorry, your browser doesn't support embedded videos.
                    </video>
                </div>
            </div>
        </section>
        <section class="decouvrez">
            <h2 class="primary-title">Découvrez...</h2>
            <div class="row d-flex">
                <div class="col-6 p-4">
                    <h3 class="secondary-title">Nos métiers</h3>
                    <p class="w-100 bg-light">image</p>
                </div>
                <div class="col-6 p-4">
                    <h3 class="secondary-title">Notre système IT</h3>
                    <p class="w-100 bg-light">image</p>
                </div>
                <div class="col-6 p-4">
                    <h3 class="secondary-title">Nos solutions B2B</h3>
                    <p class="w-100 bg-light">image</p>
                </div>
                <div class="col-6 p-4">
                    <h3 class="secondary-title">Nos engagements de performance</h3>
                    <p class="w-100 bg-light">image</p>
                </div>
            </div>
        </section>
        <section class="partenaires">
            <h2 class="primary-title">Offre partenaires</h2>
            <div class="row d-flex">
                <p class="primary-button">Demande d'inscription</p>
            </div>
            <h2 class="primary-title">Témoignages de nos partenaires...</h2>
            <div class="row d-flex">
                <div class="col-4 p-4 border border-secondary">
                    <p class="w-100 ">témoignage</p>
                </div>
                <div class="col-4 p-4 border border-secondary">
                    <p class="w-100 ">témoignage</p>
                </div>
                <div class="col-4 p-4 border border-secondary">
                    <p class="w-100 ">témoignage</p>
                </div>
            </div>
        </section>
    </main>
{% endblock %}