{% extends 'base.html.twig' %}


{% block title %}Enviro Services France{% endblock %}

{% block body %}
    <main class="container">
            <div class="row mt-4">
                <div class="col">
                    <h2 class="primary-title">Notre histoire</h2>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In tempor scelerisque arcu in sagittis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus pulvinar et velit id congue. Aliquam porttitor elementum urna eu fringilla. Maecenas lobortis nisi sit amet dolor rutrum, vitae venenatis magna tempor. Phasellus faucibus lacus a mi imperdiet, nec sollicitudin elit porta. Aliquam erat volutpat. Integer laoreet tempor mollis. Curabitur tempor rhoncus pellentesque. Nulla turpis justo, cursus a nisl quis, commodo molestie felis.

                    Donec euismod, dolor ut porta dictum, nulla eros vestibulum nisi, et ullamcorper odio nibh sit amet ligula. Proin et semper eros. Praesent ornare augue nec rutrum ullamcorper. Suspendisse at posuere felis, eget ultrices tellus. Suspendisse elit elit, accumsan sed tincidunt sed, sodales eu ligula. Suspendisse euismod tristique auctor. Cras eu lectus odio. Pellentesque faucibus fermentum mi sed facilisis.

                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <h2 class="primary-title">Nos valeurs</h2>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <h2 class="primary-title">Nos engagements</h2>
                    <h3 class="secondary-title">
                        <img src="/images/icone-systeme.png" title="Points de contrôle">Points de contrôle
                    </h3>
                    Nous nous engageons sur 54 points de contrôle pour les iPhones !
                </div>
            </div>
    </main>
{% endblock %}
