{% extends 'base.html.twig' %}

{% block title %}Enviro Services France{% endblock %}

{% block body %}
    <main class="container">
        <img src="{{ asset('images/logolongESF.png') }}" alt="Enviro Services France" class="embed-responsive mt-4">
            <div class="row">
                <div class="col">
                    <h2 class="primary-title">Notre histoire</h2>
                    <img src="{{ asset('images/envirofacade.png') }}" alt="Enviro Services"
                         class="imageflottante mr-2 mb-2 border border-secondary">
                    <p>Enviro est une société européenne spécialisée dans le domaine des services en électronique,
                    télécommunications, mobilité et produits hightech. Enviro propose des solutions complètes
                        d'après-vente aux majeurs de l'industrie des produits multi médias.</p>
                    <p>Le succès d'Enviro Services France est basé avant tout sur sa créativité, sa flexibilité,
                        sa disponibilité et l'énergie qu'Enviro dédie à chacune de ses entreprises pour élargir
                        ses compétences et gammes de produits traités.</p>
                    <p>Enviro ne cesse d'investir de manière significative pour améliorer son niveau d'excellence
                        dans toutes les activités de services et poursuivre son développement sur les marchés
                        de l'électronique grand public.</p>
                    <p>Enviro est devenu au cours de ces dernières années un des partenaires de premier plan pour
                        les fabricants et les opérateurs avec notamment comme atouts différenciateurs : une forte
                        compétence technique multi-produits et multi-marques reconnue par les acteurs du marché
                        pour sa capacité d'adaptation et d'accompagnement dans les nouveaux concepts de service.</p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <h2 class="primary-title">Nos valeurs</h2>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat feugiat purus, eget
                    tincidunt orci commodo in. Nulla volutpat quam eros, id auctor arcu tempor vitae. Quisque quis
                    tortor lacus. In enim lectus, congue ac dolor ac, maximus cursus justo. Aliquam erat volutpat.
                    Vestibulum nibh turpis, lacinia eget augue ut, feugiat lacinia arcu. Integer et tellus sed purus
                    rhoncus euismod.
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <h2 class="primary-title">Nos engagements</h2>
                    <h3 class="secondary-title">
                        <img src="{{ asset('images/icone-systeme.png') }}" alt="Points de contrôle">Points de contrôle
                    </h3>
                    Nous nous engageons sur 54 points de contrôle pour les iPhones !
                </div>
            </div>
        <div class="row mt-4">
            <div class="col">
                <p class="text-center"><img src="{{ asset('images/laurier.jpg') }}" alt="Points de contrôle"></p>
                <p class="third-title">
                   Les 54 points de contrôle Enviro Services France
                </p>
            </div>
        </div>
        <div class="row border border-secondary p-3 shadow bg-light">
            <div class="offset-1 col-5">
                <ul class="control-list">
                    <li><img src="/images/puce-valid.png" alt=".">Test carte mère</li>
                    <li><img src="/images/puce-valid.png" alt=".">Test blocage ICloud</li>
                    <li><img src="/images/puce-valid.png" alt=".">Conformité esthétique</li>
                    <li><img src="/images/puce-valid.png" alt=".">Bluetooth</li>
                    <li><img src="/images/puce-valid.png" alt=".">Vérification de la batterie</li>
                    <li><img src="/images/puce-valid.png" alt=".">Test déblocage opérateur</li>
                    <li><img src="/images/puce-valid.png" alt=".">Synchronisation - casque</li>
                    <li><img src="/images/puce-valid.png" alt=".">Connexion : alimentation</li>
                </ul>
            </div>
            <div class="col-5">
                <ul class="control-list">
                    <li><img src="/images/puce-valid.png" alt=".">Test de toutes les touches</li>
                    <li><img src="/images/puce-valid.png" alt=".">Test du vibreur</li>
                    <li><img src="/images/puce-valid.png" alt=".">Test appareil photo avant/arrière</li>
                    <li><img src="/images/puce-valid.png" alt=".">Test micro et haut-parleur</li>
                    <li><img src="/images/puce-valid.png" alt=".">Traitement anti-bactérien</li>
                    <li><img src="/images/puce-valid.png" alt=".">Test de communication téléphonique</li>
                    <li><img src="/images/puce-valid.png" alt=".">Vérification de tous les capteurs d'humidité</li>
                    <li><img src="/images/puce-valid.png" alt=".">Fonctionnement résseaux : GSM - Wifi</li>
                </ul>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col text-center">
                <p>
                    L'ensemble des caractéristiques de fonctionnalité et d'esthétisme du téléphone est proche
                    des caractéristiques du produit neuf.
                </p>
                <p>
                    Tous les produits ENVIRO SERVICES FRANCE bénéficient d'1 an de garantie via notre page d'enregistrement.
                </p>
            </div>
        </div>
    </main>
{% endblock %}
