{% extends 'base.html.twig' %}


{% block title %}Enviro Services France{% endblock %}

{% block body %}
    <main class="container">
            <div class="row mt-4">
                <div class="col">
                    <h2 class="primary-title">Notre histoire</h2>

                    <p>Enviro est une société européenne spécialisée dans le domaine des services en électronique,
                    télécommunications, mobilité et produits hightech. Enviro propose des solutions complètes
                        d'après-vente aux majeurs de l'industrie des produits multi médias.</p>
                    <p>Le succès d'Enviro Services France est basé avant tout sur sa créativité, sa flexibilité,
                        sa disponibilité et l'énergie qu'Enviro dédie à chacune de ses entreprises pour élargir
                        ses compétences et gammes de produits traités.</p>
                    <p>Enviro ne cesse d'investir de manière significative pour améliorer son niveau d'excellence
                        dans toutes les activités de services et poursuivre son développement sur les marchés
                        de l'électronique grand public.</p>
                    <p>Enviro est devenu au cours de ces dernières années un des partenaires de premier plan pour
                        les fabricants et les opérateurs avec notamment comme atouts différenciateurs : une forte
                        compétence technique multi-produits et multi-marques reconnue par les acteurs du marché
                        pour sa capacité d'adaptation et d'accompagnement dans les nouveaux concepts de service.</p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <h2 class="primary-title">Nos valeurs</h2>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col">
                    <h2 class="primary-title">Nos engagements</h2>
                    <h3 class="secondary-title">
                        <img src="/images/icone-systeme.png" title="Points de contrôle">Points de contrôle
                    </h3>
                    Nous nous engageons sur 54 points de contrôle pour les iPhones !
                </div>
            </div>
    </main>
{% endblock %}
