{% extends 'base.html.twig' %}

{% block title %}Offres{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_link_tags('offers') }}
{% endblock %}

{% block body %}
    <main class="main-offers">
        <h1 class="title-contact primary-title">Nos offres</h1>

        <p class="text-center">Offres personnalisées disponibles lors de votre connexion à l'espace client</p>

        <div class="row">
            <div class="col-8">
                <a class="primary-button" href="{{ path('app_register') }}" title="Connexion">Créer un compte</a>
                <a class="primary-button" href="{{ path('app_login') }}" title="Connexion">Accès espace client</a>
            </div>
            <div class="col-4">
                <p id="offer-p" class="bg-light box-decouvrez border border-secondary p-3">
                    L'espace client vous donne accès à :<br>
                    <br>
                    > un simulateur<br>
                    > une grille tarifaire<br>
                    > des promotions<br>
                    > un programme de fidélité<br>
                </p>
            </div>
        </div>
    </main>

{% endblock %}
