{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('footer') }}
{% endblock %}
{% block title %}PROTECTIONS DES DONNEES {% endblock %}

{% block body %}
    <main class="container" id="rgpd-main">
        <h1 class="primary-title">Règlement général sur la protection des données</h1>
        <p>
            Enviro (ci-après « nous ») est soucieux de la protection de vos données personnelles.
            Nous nous engageons à assurer le meilleur niveau de protection à vos données en conformité avec la loi Informatique et Libertés du 6 janvier 1978 et Règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 relatif à la protection des personnes physiques à l'égard du traitement des Données Personnelles à caractère personnel, Règlement Général sur la Protection des Données (RGPD).
            En naviguant sur notre site, vous déclarez accepter notre Politique de Protection des données personnelles. Cette Politique, couplée avec nos Conditions Générales d’Utilisation, formalise ainsi la relation contractuelle entre la plateforme « Enviro » et ses utilisateurs.
            Le terme de « Données Personnelles » désigne ci-après toute information se rapportant à une personne physique identifiée ou identifiable qui peut être identifiée, directement ou indirectement, notamment par référence à un identifiant, tel qu'un nom, un numéro d'identification, des données de localisation, un identifiant en ligne.
            Ainsi, les données que nous collectons peuvent inclure vos données strictement personnelles, en ce qu'elles permettent de vous identifier comme une personne particulière.
            A l'inverse, certaines données ne nous permettent pas de vous identifier directement, telle que vos données de navigation (le type de navigateur, de Terminal et de système d’exploitation, le chemin suivi sur le Site, etc.) mais sont tout de même considérées comme des Données Personnelles car elles sont rattachées et/ou rattachables aux premières.
        </p>

        <p>
            La présente Politique de Protection des données personnelles a pour dessein de vous présenter les termes suivants :<br>
            <a href="#who-collect">Qui collecte vos données ?</a><br>

            <a href="#what-data">Quelles sont les données personnelles collectées ?</a><br>

            <a href="#what-rules">Quelles sont les règles de collecte de données associées ?</a><br>

            <a href="#why-collect">Pourquoi les données sont-elles collectées ?</a><br>

            <a href="#your-rights">Quels sont vos droits et comment les exercer ?</a><br>

            <a href="#how-secure">Comment vos données sont-elles protégées ?</a><br>

        </p>
        <p>Si vous êtes en désaccord avec nos termes, vous pouvez choisir de ne plus naviguer sur notre site, de modifier vos choix en cliquant ici, ou d’exercer vos droits d’effacement.</p>
        <p>
            Nous invitons les utilisateurs de la plateforme « Enviro » à se référer régulièrement à notre Politique, qui sera amenée à évoluer pour s’adapter aux modifications législatives et réglementaires du RGPD ainsi que de la Loi Informatique et Libertés. Pour toute information sur la protection des données personnelles, vous pouvez également consulter le site de la Commission Informatique et Libertés www.cnil.fr.
        </p>

        <h3 class="secondary-title" id="who-collect">Qui collecte vos données ?</h3>
        <p>
            La société Enviro Services France, société XXXXXXXX, au capital de XXX€, immatriculée au RCS de Lille sous le numéro  et dont le siège social est situé au 391 avenue Clement Ader 59118 Wambrechies France, met à disposition, une plateforme sous le nom « Enviro » accessible depuis les sites internet qu’elle exploite
            <a href="http://www.enviroservices.fr">(enviroservicess.fr)</a>.
        </p>

        <p>
            Dans le cadre de la fourniture de ses services en relation avec la Plateforme, Enviro Services France. est amenée à collecter et traiter des Données Personnelles concernant les utilisateurs, afin de lui permettre de gérer la relation contractuelle. Dans ce contexte, Enviro Services France est amenée à mettre en place un traitement de données, dans le respect du RGPD, dont les finalités sont la gestion des clients (en ce compris la gestion des relations contractuelles, des commandes, de la livraison, des factures, de la comptabilité, suivi de la relation contractuelle), et plus généralement la gestion des opérations lui permettant de communiquer avec les utilisateurs, ou la mise à disposition de fonctionnalités nécessaires à la navigation sur nos sites.

        </p>

        <h3 class="secondary-title" id="what-data">Quelles sont les données concernées?</h3>
        Les données collectées sur la plateforme Enviro <br>



        Ces données se répartissent en 2 grandes familles :<br>



        Les données directement renseignées par vous, au moment de la création de votre compte ou lors d’interactions avec notre service clients, ou de modification votre profil<br>

        Les données que nous collectons automatiquement du fait de vos actions sur le site

        <h3 class="secondary-title">
            Données renseignées par l’utilisateur	Données renseignées automatiquement
        </h3>

        <p>Le caractère obligatoire ou facultatif des données vous est signalé au moment de la collecte : civilité, nom, prénom, adresse de livraison, adresse de facturation, adresse email, mot de passe, date de naissance et majorité numérique (plus de 16 ans), RIB, numéro de téléphone, société. La plateforme Enviro met en place un accès restreint sur les personnes âgées de moins de 16 ans, qui ne peuvent effectuer un achat sans autorisation parentale. Par ailleurs, les contacts avec les SAV font également l’objet d’une collecte.	Certaines données sont collectées automatiquement du fait de vos actions sur le site : données de navigation, historiques de commandes, préférences et centres d’intérêts, produits consultés, produits ajoutés au panier, incidents de livraisons, réclamations, conversations avec un conseiller. Nous effectuons également des mesures d’audience : nous mesurons par exemple le nombre de pages vues, le nombre de visites du site, ainsi que l’activité des visiteurs sur le site et leur fréquence de retour. Enfin, nous collectons des données grâce aux cookies. Nous avons dédié une page à notre politique de cookies, en vous permettant d’indiquer vos préférences</p>

        <p>  Certaines données personnelles (à savoir civilité, nom, prénom, adresse de livraison, adresse de facturation si différente, adresse email, mot de passe, date de naissance permettant de justifier la majorité numérique (plus de 16 ans), numéro de téléphone et pour les besoins de paiement vos données bancaires soit par notre prestataire de paiement Adyen soit par l’établissement de crédit à la consommation Oney en cas de paiement en plusieurs fois, doivent obligatoirement être collectées pour que vous puissiez bénéficier de nos services. Si ces informations ne sont pas complétées, vous ne pouvez pas acheter des produits sur la plateforme Enviro.</p>

        <h3 class="secondary-title">Données bancaires	</h3>
        <p>
            Pour les besoins du paiement les coordonnées bancaires sont collectées et conservées par notre prestataire en matière de paiement Adyen certifié PCI-DSS.
            Cette norme est un standard de sécurité international dont les objectifs sont d’assurer la confidentialité et l’intégrité des données des porteurs de cartes, et ainsi de sécuriser la protection des données cartes et de transaction.
        </p>

        <p>
            Adyen encrypte les données et ne les conserve que pour des usages techniques (par exemple: pour un paiement récurrent demandé par le consommateur au moment de l’achat tel qu’une assurance, ou le remboursement d’un achat, en cas d’un comportement frauduleux) pendant une durée de 3 ans.
            Les données de paiement encryptées sont conservées dans des centres de données sécurisés, en Europe.
        </p>

        <h3 class="secondary-title long-title" id="what-rules" >Quelles sont les règles associées quant à la collecte et la conservation des données ?</h3>

        <p>Date de collecte	</p>
        <p>
            Nous collectons les informations que vous nous fournissez notamment quand :
        </p>

        <p>- vous créez votre compte client « Mon compte »<br>

            - vous effectuez une commande sur nos sites<br>

            - vous naviguez sur nos sites et consultez des produits<br>

            - vous participez à un jeu ou un concours<br>

            - vous contactez notre Service Client<br>

            - vous rédigez un avis<br>

            - vous prenez contact avec un conseiller<br>

            - vous créez une alerte disponibilité produits ou pour la reprise de vos appareils<br>
        </p>

        <h3 class="secondary-title">Temps de conservation des données	</h3>
        <p>Vos Données Personnelles concernant votre compte, ainsi que celles concernant votre navigation et/ou votre comportement sur le site sont conservées pendant une durée de 3 ans à compter de votre dernière activité sur le site ou sur un support de communication électronique Enviro ou 6 ans après votre dernière commande sauf disposition légale contraire. A l’issue de ce délai, votre compte est considéré comme « inactif » et sera automatiquement désactivé. Il vous appartiendra donc d’en créer un nouveau pour toute nouvelle commande.</p>

        <h3 class="secondary-title">Qui a accès à vos données ?</h3>
        <p>
            Les données collectées sur les sites Enviro sont exclusivement destinées au groupe Enviro. En aucun cas Enviro ne transmettra vos données personnelles à des tiers à d’autres fins telles que commerciales et/ou promotionnelles sans votre consentement. <br>

            Les données personnelles peuvent être transmises aux sociétés – sous-traitants – auxquels Enviro fait appel dans le cadre de l’exécution des services et commandes notamment gestion, exécution, traitement et paiement
        </p>

        <p>
            <span class="little-title">Les vendeurs</span><br>
            Les données nécessaires à la livraison de votre commande (société, adresse email, civilité, nom, prénom, adresse de livraison, numéro de téléphone) sont communiquées aux Vendeurs pour les commandes respectives.
        </p>


        <p><span class="little-title">Assistance client</span><br>
            Nous sommes accompagnés par des prestataires pour assister nos clients dans les meilleurs délais :
        </p>

        <p>Les contacts post-achat (call center, aide à la résolution de litiges, etc.) par des outils informatiques et des services d’assistance par téléphone et email, situés en France et sont internalises.</p>
        <br>
        La solution de suivi ds colis qui permet de récupérer les informations sur le statut d’acheminement.
        <p>Pour le paiement en plusieurs fois, l'organisme financier XXXX se substitue à Enviro pour répondre aux questions sur le crédit du client (échéances, calcul des mensualités, modification de la carte bancaire enregistrée etc).
        </p>

        <p><span class="font-weight-bold">Marketing	</span></p>
        <p>Nous utilisons un outil pour la gestion de la relation client (CRM) qui fait appel à nos bases de données et à l’ensemble des données qui y sont stockées, pour l’ensemble des utilisateurs de nos sites, et dans le respect des consentements et préférences de communication indiqués sur nos sites, notamment au moment de la création d’un compte. Nous faisons également appel à des prestataires pour nous aider à communiquer en dehors de nos sites, à promouvoir nos annonces publicitaires (acquisition de trafic, customer match) auprès de clients nouveaux ou existants.</p>


        <p><span class="font-weight-bold">Paiement & Fraude	</span></p>

        <p>
            Nous sommes accompagnés par un partenaire spécialiste du paiement et de la lutte contre la Fraude nommé Adyen. Les données collectées ne sont pas communiquées à des tiers, et en tant que partenaire en affaires, Adyen obéit à des règles strictes en matière d’obligation d’information, de respect de la vie privée, de droit de révocation et d’arbitrage de différends.
        </p>

        <p><span class="font-weight-bold">Transfert et hébergement de vos données</span></p>

        <p>Les serveurs contenant les données collectées par Enviro sont hébergés en Europe.
           Vous êtes informé que des données vous concernant peuvent être transmises par Enviro pour les besoins des finalités définies aux présentes conditions à des sociétés situées dans des pays hors Union Européenne.
            Préalablement au transfert hors Union Européenne, Enviro mettra en œuvre toute procédure requise pour obtenir les garanties nécessaires à la sécurisation de tels transferts (clauses spécifiques, anonymisations des données)</p>

        <p>Des transferts hors Union Européenne peuvent être réalisés notamment dans le cadre de nos activités suivantes : service client Enviro (call center au Maroc, outils internes de communication), prestations informatiques sur les systèmes de Enviro, exploitation des données en lien avec les réseaux sociaux (voir ci-après). Pour les transferts vers ces prestataires, nous nous sommes assurés qu’ils respectaient le Règlement sur la Protection de Données Personnelles.

        </p>

        <p><span class="secondary-title" id="why-collect">A quelles finalités vos données personnelles sont-elles collectées ?</span></p>
        <br>
        <span class="little-title">Gestion de vos commandes</span>
        <p>Les informations et données vous concernant sont nécessaires à la gestion de votre commande, à savoir chaque acquisition de biens et/ou services effectuée par un client sur nos Sites dans les conditions prévues dans les CGU complétées, le cas échéant, par des conditions particulières.
            Ces informations pourront également être conservées aux fins de preuve dans le respect des obligations légales et réglementaires (paiement, garantie, litige …).
        </p><br>

        <span class="little-title">Personnalisation de nos services</span>
        <p>Les informations et données vous concernant nous permettent d’améliorer et personnaliser les services que nous vous proposons notamment sur notre site internet et site mobile Enviro et les informations que nous vous adressons.</p>
        <br>

        <span class="font-weight-bold">Les informations et newsletters Enviro</span>
        <p>
            Afin de vous tenir informés de notre actualité et des avantages dont vous pouvez bénéficier, vous pourrez recevoir des offres par communication électronique (email, sms…). Nous mesurons le taux d’ouverture de nos envois afin de l’adapter au mieux à vos besoins. Si vous ne souhaitez pas recevoir d’offres et informations de Enviro, vous pouvez vous opposer aux envois en le signalant lors de la création de votre compte, ou à tout moment en le précisant dans Mon compte rubrique "Infos persos/Newsletter", ou en vous désinscrivant grâce au lien de désabonnement en bas des emails. En fonction des choix émis lors de la création ou consultation de votre compte vous serez donc susceptibles de recevoir des offres de Enviro.
        </p>

        <p>
            Vous pouvez personnaliser l’envoi des newsletters et gérer les abonnements aux newsletters que vous souhaitez recevoir lors de la création de votre compte ou en vous rendant dans Mon compte rubrique "Newsletter". Vous avez alors la possibilité de sélectionner parmi les différentes catégories de newsletters celles qui vous intéressent. Les envois d’offres et d’informations de Enviro seront adaptés à votre sélection. Vous pouvez également modifier la fréquence des envois ou faire cesser à tout moment l’envoi des newsletters en vous rendant dans Mon compte ou depuis le lien de désabonnement dans le footer des emails.
        </p>

        <p>
            A défaut de sélection et si vous ne vous y êtes pas opposés lors de la création de votre compte, vous serez susceptible de recevoir les informations sur l’actualité de Enviro et les newsletters qui portent sur des produits analogues à ceux que vous avez déjà commandés ou consultés sur le site Enviro.
        </p><br>

        <span class="little-title">Les alertes</span>
        <p>Nous pouvons vous proposer des alertes afin d’être tenus informés par e-mail d’une disponibilité ou d’une actualité vous intéressant.
            Ces alertes permettent selon les cas :
            d’être tenus informés ponctuellement de la prochaine disponibilité du produit qui vous intéresse.
        </p>

        <p>L’inscription à l’alerte se fait en cliquant sur le bouton « Alertes » accessible depuis Mon compte. Les alertes auxquelles vous êtes inscrit sont répertoriées dans Mon compte. Vous pouvez gérer les alertes et mettre y fin en vous rendant dans Mon compte rubrique mes “Alertes”.
            <br>D’être tenus informés de la possibilité de revendre votre appareil à l’un de nos reconditionneurs. L’inscription à l’alerte se fait depuis la section Revendre dans le cas où vous souhaiteriez revendre un appareil qui n’est pas disponible à la reprise au moment de votre visite.
        </p><br>

        <span class="font-weight-bold" id="fraude">Lutte contre la Fraude</span>
        <p>
            Afin de sécuriser les paiements et les livraisons et ainsi de vous assurer une qualité de service optimale, les données personnelles collectées sur le site sont également traitées par Adyen pour déterminer le niveau de risque de fraude associé à chaque commande et, le cas échéant, aider à moduler les conditions d’exécution de celle-ci.
            Dans le cadre de cette analyse, Adyen utilise une solution en propre.
        </p>
        <p>
            Enviro pourra, en fonction des résultats du contrôle effectué sur les commandes, prendre des mesures de sécurisation, en particulier vérification par code reçu sur le téléphone (3D secure) ou demande de justificatifs complémentaires. Ces mesures auront pour effet de suspendre l’exécution de la commande voire, si le résultat de l’analyse ne permet pas de garantir la sécurité de la commande, de l’annuler.
            La survenance d’un incident (impayé au motif d’une utilisation frauduleuse d’un moyen de paiement, fraude à la livraison, etc.) entraînera l’inscription des données en rapport avec la commande au sein du fichier d’alerte de Enviro, ce qui pourra, lors de prochaines commandes, conduire Enviro à réaliser des vérifications supplémentaires.
        </p>
        <p>
            A tout moment au cours de l’analyse de risque menée par Enviro, vous pourrez présenter vos observations. En outre, conformément au RGPD, vous disposez des droits d'accès, de rectification, de suppression et d’opposition.
            Conformément à la réglementation en vigueur, votre demande doit être signée et accompagnée de la photocopie d’un titre d’identité portant votre signature et préciser l’adresse à laquelle doit vous parvenir la réponse.
            Pour exercer vos droits en ce qui concerne la lutte contre la fraude, il vous suffit de vous adresser :
        </p>
        <p>Auprès de Enviro : par voie électronique à (adresse mail Enviro) ou par courrier à Enviro / Responsable Données Personnelles, 391 Avenue Clement Ader 59118 Wambrechies, France, en nous indiquant vos nom, prénom, e-mail adresse et si possible votre référence client.</p>
        <br>

       <span class="font-weight-bold"> Services d'assurances</span>
        <p>
            Pour les services d'assurances, notre partenaire d'assurance XXXXXXXXX réalise des traitements de données à caractère personnel et, dans le cadre des Services numériques, vos données à caractère personnel pourront être transmises aux Tiers de confiance de ce partenaire aux fins de réaliser les Services numériques (par exemple : signature électronique, envoi d’une lettre recommandée avec avis de réception, archivage électronique...).
        </p>
        <br>

       <span class="font-weight-bold"> Personnalisation des publicités sur les sites de Enviro et les réseaux sociaux</span>
        <p>
            Les informations que vous recevez de la part de Enviro pourront être personnalisées en fonction des données que Enviro collecte sur ses sites (données déclaratives et de navigation), ou en lien avec les réseaux sociaux.
            Nous vous invitons à consulter les politiques de protection des données personnelles des réseaux sociaux afin de prendre précisément connaissance des informations qui sont collectées par les réseaux sociaux et qui peuvent être transmises à Enviro.
        </p>
        <p>
            En raison de votre utilisation des services Enviro (sites) ou de votre affiliation à une page des réseaux sociaux Enviro, Enviro est susceptible de recevoir des informations vous concernant notamment votre profil public et vos centres d'intérêts communiqués sur les réseaux sociaux, ou autres données que vous aurez autorisé Enviro à traiter en naviguant sur ses sites ou en continuant à bénéficier des services proposés par la plateforme (voir paragraphe ci-dessus concernant les données collectées).
            Des publicités Enviro liées à votre profil et aux informations que vous publiez ou partagez (vos centres d'intérêts) pourront être diffusées sur vos pages de réseaux sociaux.
            Si vous ne souhaitez pas que les réseaux sociaux ou des tiers dont Enviro recueillent ou utilisent des informations basées sur votre profil ou votre activité sur des sites web, appareils ou applications en dehors des réseaux sociaux à des fins de diffusion de publicités, vous devez vous référer aux conditions des réseaux sociaux afin de connaître les modalités de paramétrage, désinscription ou de contrôle de diffusion des publicités.
            Vous pouvez également refuser en utilisant les paramètres des applications ou de votre appareil mobile, et directement sur les réseaux sociaux.
        </p>
        <br>

        <span class="font-weight-bold">Cookies et ciblage publicitaire</span>
        <p>
            Notre site est conçu pour être particulièrement attentif aux besoins et attentes de nos clients.
            C'est entre autres pour cela que nous faisons usage de cookies ou technologies similaires de traçage afin de vous identifier et personnaliser nos services et publicités notamment pour accéder à votre compte, gérer votre panier de commande, mémoriser vos consultations et personnaliser les offres que nous vous proposons et les informations que nous vous adressons.
            Les cookies vous permettent notamment de bénéficier de nos conseils personnalisés et d'être informé de nos offres promotionnelles.
            Vous pouvez à tout moment choisir de désactiver les cookies.
            Pour en savoir plus et connaître la procédure à suivre pour refuser les cookies : cliquez ici.
            Pour plus d’informations sur la politique de protection de données de notre partenaire de publicité en ligne Criteo, rendez vous sur ce :
            <a href="https://www.criteo.com/fr/privacy/" target="_blank">lien</a>
        </p><br>
        Nous utilisons vos données afin de mieux comprendre les profils de nos clients et ainsi de mieux cibler nos efforts dans nos campagnes publicitaires
        <br>

       <h3 class="secondary-title" id="your-rights"> Vos Droits</h3>

       <p> Quels sont vont droits ? <br>

           <span class="font-weight-bold">Vos droits au regard de la loi informatique et libertés</span></p>
        <p>
            Conformément à la loi Informatique et Libertés du 6 janvier 1978 modifiée par la loi du 6 Août 2004, vous disposez des droits énoncés ci-dessous au regard de vos données personnelles.
            Il vous suffit de nous écrire en ligne à (service clients Enviro) ou par courrier à Enviro, Responsable Données Personnelles, 391 Avenue Clement Ader 59118 Wambrechies, France en nous indiquant vos nom, prénom, e-mail adresse et si possible votre référence client.
            Conformément à la réglementation en vigueur, votre demande doit être signée et accompagnée de la photocopie d’un titre d’identité portant votre signature et préciser l’adresse à laquelle doit vous parvenir la réponse.
            Une réponse vous sera alors adressée dans un délai de 1 mois à compter de la réception de la demande.
            Au besoin, ce délai peut être prolongé de deux mois, compte tenu de la complexité et du nombre de demandes.
            Le responsable du traitement notifiera la personne concernée de cette prolongation et des motifs du report dans un délai d'un mois à compter de la réception de la demande.
        </p><br>

        <p>
        Pour exercer vos droits en ce qui concerne la lutte contre la fraude, voir la clause Lutte contre la Fraude <a
                href="#fraude">ci-avant</a>. <br>

            Conformément notamment à la Réglementation sur les Données Personnelles, vous bénéficiez des Droits Spécifiques suivants :<br>

            - Accès (article 15 du RGPD),<br>

            - Rectification (article 16 du RGPD),<br>

            - L’effacement (article 17 du RGPD),<br>

            - Limitation du Traitement (article 18 du RGPD),<br>

            - Portabilité (article 20 du RGPD),<br>

            - Opposition au traitement et au profilage (article 21 et 22 du RGPD),<br>

            - Directives post-mortem (Loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés)
        </p>
        <br>

        <span class="little-title">Droit d'accès</span>
        <p>Vous avez la possibilité d'obtenir de Enviro la confirmation que les Données vous concernant sont ou ne sont pas traitées et, lorsqu'elles le sont, l'accès auxdites Données ainsi que les informations suivantes :<br>
            - les finalités du traitement ;<br>

            - les catégories de Données ;<br>

            - les destinataires ou catégories de destinataires auxquels les Données ont été ou seront communiquées ;<br>

            - lorsque cela est possible, la durée de conservation des Données envisagée ou, lorsque ce n'est pas possible, les critères utilisés pour déterminer cette durée ;<br>

            - l'existence du droit de demander à Enviro la rectification ou l'effacement de Données, ou une limitation du traitement de vos Données, ou du droit de s'opposer à ce traitement ;<br>

            - le droit d'introduire une réclamation auprès de la CNIL ;<br>

            - lorsque les Données ne sont pas collectées auprès de vous, toute information disponible quant à leur source ;<br>

            - l'existence d'une prise de décision automatisée, y compris un profilage, et, au moins en pareils cas, des informations utiles concernant la logique sous-jacente, ainsi que l'importance et les conséquences prévues de ce traitement pour vous.
        </p>

        <p>Lorsque les Données sont transférées vers un pays tiers ou à une organisation internationale, vous avez le droit d'être informé des garanties appropriées, en ce qui concerne ce transfert.
            <br>
            Enviro fournit une copie des Données faisant l'objet d'un traitement. <br>
            Enviro peut exiger le paiement de frais raisonnables basés sur les coûts administratifs pour toute copie supplémentaire demandée par le Visiteur.
            <br>
            Lorsque vous présentez votre demande par voie électronique, les informations sont fournies sous une forme électronique d'usage courant, à moins que le visiteur ne demande qu'il en soit autrement.
            <br>
            Votre droit d'obtenir une copie de vos Données ne doit pas porter atteinte aux droits et libertés d'autrui.
        </p>

        <span class="little-title">Droits de rectification</span>
        <p>
            Vous avez la possibilité d'obtenir de Enviro, dans les meilleurs délais, la rectification des Données vous concernant qui sont inexactes. Vous avez également la possibilité d'obtenir que les Données incomplètes soient complétées, y compris en fournissant une déclaration complémentaire.
        </p>

        <span class="little-title">Droits à l'effacement</span>
        <p>
            Vous avez la possibilité d'obtenir de Enviro l'effacement, dans les meilleurs délais, de Données vous concernant lorsque l'un des motifs suivants s’applique :
            <br>
            les Données ne sont plus nécessaires au regard des finalités pour lesquelles elles ont été collectées ou traitées d'une autre manière par Enviro ;
            <br>

            vous avez retiré votre consentement pour le traitement de ces Données et il n'existe pas d'autre fondement juridique au traitement ;
            <br>

            vous exercez votre droit d’opposition dans les conditions rappelées ci-après et il n'existe pas de motif légitime impérieux pour le traitement ;
            <br>

            les Données ont fait l'objet d'un traitement illicite ; <br>

            les Données doivent être effacées pour respecter une obligation légale ; <br>

            les Données été collectées auprès d’un enfant. <br>

        </p>

        <p>
            <span class="little-title">Droits à la limitation</span> <br>

            Vous avez la possibilité d'obtenir de Enviro la limitation du traitement de vos Données lorsque l'un des motifs suivants s’applique :
            <br>
            Enviro vérifie l'exactitude des Données suite à votre contestation de l'exactitude des Données, <br>
            le traitement est illicite et vous vous opposez l’effacement des Données et exigez à la place la limitation de leur utilisation ;
            <br>
            Enviro n'a plus besoin des Données aux fins du traitement mais celles-ci vous sont encore nécessaires pour la constatation, l'exercice ou la défense de droits en justice ;
            <br>
            Vous vous êtes opposés au traitement dans les conditions rappelées ci-après et Enviro vérifie de savoir si les motifs légitimes poursuivis prévalent sur vos motifs allégués.
        </p>

        <p>
            <span class="little-title">Droits à la portabilité des Données</span> <br>

            Vous avez la possibilité de recevoir de Enviro les Données vous concernant, dans un format structuré, couramment utilisé et lisible par machine lorsque :
            <br>
            le traitement des Données est fondé sur le consentement, ou sur un contrat et

            le traitement est effectué à l'aide de procédés automatisés. <br>
            Lorsque vous exercez votre droit à la portabilité vous avez le droit d'obtenir que les Données soient transmises directement par Enviro à un responsable de traitement que vous désignerez lorsque cela est techniquement possible.
            <br>
            Votre droit à la portabilité de vos Données ne doit pas porter atteinte aux droits et libertés d'autrui.
        </p>

        <p>
            <span class="little-titel">Droits d'opposition au traitement et au profilage</span> <br>
            Vous avez le droit de vous opposer à tout moment, pour des raisons tenant à votre situation particulière, à un traitement des Données vous concernant fondé sur l’intérêt légitime de Enviro. Enviro ne traitera alors plus les Données, à moins qu'il ne démontre qu'il existe des motifs légitimes et impérieux pour le traitement qui prévalent sur vos intérêts et vos droits et libertés, ou pourra les conserver pour la constatation, l'exercice ou la défense de droits en justice.
            <br>
            Lorsque les Données sont traitées à des fins de prospection, vous pouvez vous opposer à tout moment au traitement de ces Données.
        </p>

        <p>
            <span class="little-title">Directives post-morterm</span> <br>
            Vous avez la possibilité de nous communiquer des directives relatives à la conservation, à l’effacement et à la communication de vos Données Personnelles après votre décès, lesquelles directives peuvent être enregistrées également auprès « d’un tiers de confiance numérique certifié ». Ces directives, ou sorte de « testament numérique », peuvent désigner une personne chargée de leur exécution ; à défaut, vos héritiers seront désignés.
            <br>
            <br>
            En l’absence de toute directive, vos héritiers peuvent s’adresser à Enviro afin de/d’ : <br>
            - accéder aux traitements de Données permettant « l’organisation et le règlement de la succession du défunt » ;
            <br>

            - recevoir communication des « biens numériques » ou des « données s’apparentant à des souvenirs de famille, transmissibles aux héritiers » ;
            <br>

            - faire procéder à la clôture de votre compte de visiteur sur le Site et s’opposer à la poursuite du traitement de vos Données Personnelles.
            <br>
            En tout état de cause, vous avez la possibilité de nous indiquer, à tout moment, que vous ne souhaitez pas, en cas de décès, que vos Données Personnelles soient communiquées à un tiers.
            <br>

            Pour plus d’information, vous pouvez vous référer à l’Article 40-1 de la Loi relative à l’Informatique, aux fichiers et aux libertés.

        </p>

        <p>
            <span class="font-weight-bold">Comment exercer vos Droits spécifiques ?</span> <br>
            Pour exercer vos Droits Spécifiques à l’attention de Enviro et/ou, le cas échéant, obtenir par voie orale la lecture de la présente Politique, vous pouvez choisir d'adresser votre demande :
            <br>
            Par courrier électronique en vous adressant à notre délégué à la protection des Données (service clients Enviro)
            <br>

            En vous rendant sur le Site, dans la rubrique « Mon compte », en sélectionnant la rubrique souhaitée. <br>

            Par courrier postal en vous adressant à notre Délégué à la Protection des Données à l'adresse suivante :
            <br>
            Responsable Données Personnelles <br>

            Enviro Service France <br>

            391 Avenue Clement Ader <br>

            59118 Wambrechies, France. <br>
            <br>

            Une réponse vous sera adressée dans un délai d’un (1) mois maximum suivant la date de réception de votre demande.
            <br>
            Au besoin, ce délai pourra être prolongé de deux mois par Enviro qui vous en alertera et ce, compte tenu de la complexité et/ou du nombre de demandes.
        </p>
        <p>En cas de demande de suppression de vos Données et/ou en cas d’exercice de votre droit à solliciter l’effacement de vos Données, nous pourrons toutefois les conserver sous forme d’Archivage intermédiaire, et ce pour la durée nécessaire à satisfaire à nos obligations légales, comptables et fiscales et notamment, afin de prévenir d'éventuels comportements illicites après la suppression de votre compte (réutilisation de votre ancien compte par un tiers) et ce, conformément à l’article II-3 de la présente Politique de Confidentialité et de Protection de la Vie Privée.</p>

        <p>Il est précisé en tant que de besoin que la demande de suppression de votre compte visiteur depuis le Site n’est pas interprétée par Enviro comme une demande expresse d’exercice de votre droit d’opposition, de limitation ou de suppression pour motifs légitimes.
            Votre compte visiteur est donc rendu inactif et les Données vous concernant font l’objet d’un Archivage intermédiaire dans les conditions et durées indiquées ci-dessus.</p>

        <p>
            Vous pouvez également choisir les types de courriers électroniques que vous souhaitez recevoir ou non, en vous rendant dans la rubrique « Mes communications » .
            Vous pourrez ainsi vous désinscrire, de façon définitive ou temporaire, de chaque catégorie ou de l'ensemble de courriers électroniques.
            <br>

            Un lien de désinscription figure par ailleurs sur chaque courrier électronique que Enviro vous envoie.
        </p>

        <p>Vous pourrez également à tout moment nous demander de ne plus recevoir de publicités ou de prospections adaptées aux informations de navigation de votre Terminal, en nous contactant directement et gratuitement, ou au moyen du lien de désinscription inclus dans toute prospection que nous serions susceptible de vous adresser par courrier électronique.
            Le cas échéant, les publicités que vous pourriez continuer à recevoir, sauf opposition de votre part exercée auprès de nous, ne seront plus adaptées à la navigation de votre Terminal.
            <br>
            Vous pouvez, à tout moment, porter réclamation devant l’autorité de contrôle compétente (en France,
            <a href="http://www.cnil.fr" target="_blank">la CNIL</a>)
        </p>

        <p>
            <h3 class="secondary-title" id="how-secure">Comment vos données sont-elles sécurisées ?</h3>
            <br>
            Enviro protège vos données à caractère personnel en mettant en place les mesures techniques et organisationnelles afin d’assurer la sécurité des traitements de données à caractère personnel et la confidentialité de celles-ci.
            <br>
            A ce titre, Enviro prend toutes les précautions utiles, au regard de la nature des données et des risques présentés par le traitement, afin de préserver la sécurité des données et, notamment, d’empêcher qu’elles soient déformées, endommagées, ou que des tiers non autorisés y aient accès : protection physique des locaux, procédés d’authentification avec accès personnel et sécurisé via des identifiants et mots de passe confidentiels, chiffrement de certaines données etc.
            <br>
            Nous vous rappelons toutefois que vous êtes responsable des données vous concernant que vous transmettez à Enviro et qu’à ce titre, vous contribuez à la protection de vos données à caractère personnel en vous conformant aux bonnes pratiques en matière d’utilisation de vos outils informatiques.
            <br>
            Vous êtes informé du fait que sans des mesures de sécurité adéquates (exemples : configuration sécurisée de votre navigateur web, mise à jour des programmes anti-virus, logiciel pare-feu, non utilisation de logiciels provenant de sources douteuses, etc…), vous courez le risque que les données et les mots de passe que vous utilisez pour protéger vos données puissent être divulgués à des tiers non autorisés.

        </p>

        <p>
            <span class="font-weight-bold">Contacts et réclamations</span>
            <br>
            Pour toute requête, vous pouvez choisir d'adresser votre demande : <br>

            Par courrier électronique en vous adressant à notre Délégué à la Protection des Données legal@backmarket.com,
            <br>

            En vous rendant sur le Site, dans la rubrique « Mon compte » , en sélectionnant la rubrique souhaitée, <br>

            Par courrier postal en vous adressant à notre Délégué à la Protection Des données à l'adresse suivante :
            <br>
            Responsable Données Personnelles <br>

            Enviro <br>

            391 Avenue Clement Ader <br>

            59118 Wambrechies, France, <br>
            <br>
            En cas d’absence de réponse ou si vous n’est pas satisfait de la réponse apportée, vous avez la possibilité d’introduire une réclamation auprès de l’autorité de protection et de contrôle compétente de l’Etat membre de l’Union Européenne au sein duquel vous résidez habituellement.
            <br>
            Pour la France  : <a href="http://www.cnil.fr" target="_blank">CNIL</a>
            <br>
            Pour l’Espagne : <a href="https://www.aepd.es" target="_blank">AEPD</a>
            <br>
            Pour l’Allemagne : <a href="http://www.datenschutz.de" target="_blank">Datenschutz</a>
            <br>
            Pour la Belgique : <a href="http://www.privacycommission.be" target="_blank">Privacy commission</a>
            <br>
            Pour d’autres : <a href="http://ec.europa.eu/justice/article-29/structure/data-protection-authorities/index_en.htm" target="_blank">pays</a>

        </p>

        <span class="font-weight-bold">Glossaire</span>
        <p>« Commande » : désigne chaque acquisition de biens et/ou services effectuée par un client sur le Site dans les conditions prévues dans les CGV complétées, le cas échéant, par des conditions particulières.</p>

        <p>« Cookies » : désignent les traceurs et/ou des technologies équivalentes, à savoir notamment cookie, cookie « Flash », résultat du calcul d’empreinte de votre Terminal dit « fingerprinting »,
            local web storage, pixels invisibles, utilisés de façon alternative ou cumulative pour i) faciliter la navigation du visiteur (Cookies de Navigation), ii) proposer des produits et des services adaptés aux centres d’intérêts du visiteur
            (Cookies Publicitaires), iii) permettre l’élaboration de statistiques (Cookies d’Audiences) et iv) permettre au visiteur d’accéder à des produits et services personnalisés sur le Site ou via des messages envoyés par backmarket.fr (Cookies de Personnalisation) et
            permettre l’interaction avec les Réseaux Sociaux (Cookies de Réseaux Sociaux), etc.</p>

        <p>« Donnée(s) Personnelle(s) » ou « Données » : désigne(nt) toute information se rapportant à une personne physique identifiée ou identifiable qui peut être identifiée, directement ou indirectement,
            notamment par référence à un identifiant, tel qu'un nom, un numéro d'identification, des données de localisation, un identifiant en ligne, ou à un ou plusieurs éléments spécifiques propres à son identité physique,
            physiologique, génétique, psychique, économique, culturelle ou sociale. Ainsi, les données que nous collectons peuvent inclure vos données strictement personnelles, en ce qu'elles permettent de vous identifier comme une personne particulière.
            A l'inverse, certaines données ne nous permettent pas de vous identifier directement, telle que votre profession ou vos données de navigation (le type de navigateur, de Terminal et de système d’exploitation, le chemin suivi sur le Site, etc.)
            mais sont tout de même considérées comme des Données Personnelles car elles sont rattachées et/ou rattachables aux premières.
        </p>

        <p>« Données Tiers » : désignent les Données que nous partageons, le cas échéant, avec des tiers.</p>

        <p>
            « Droits Spécifiques » : désignent les droits accordés au visiteur par la Réglementation sur les Données Personnelles et notamment les droits de/d’/à :
            <br>
            accès (article 15 du RGPD), <br>

            rectification (article 16 du RGPD), <br>

            l’effacement (article 17 du RGPD), <br>

            limitation du Traitement (article 18 du RGPD), <br>

            portabilité (article 20 du RGPD), <br>

            opposition (article 21 et 22 du RGPD), <br>

            directives post-mortem (Loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés);
            <br>
            Ces Droits Spécifiques et les moyens de les exercer sont précisés au paragraphe 4. Vos droits.
        </p>

        <p>
            « Visiteur(s) » : désigne(nt) tout internaute ayant renseigné des Données Personnelles sur le formulaire d’inscription du site,
            accepté les CGU, comme la Politique de Données Personnelles, ou ayant, après réception d’un email de confirmation, définitivement validé son compte Enviro.
        </p>

        <p>
            « Partenaire(s) » : désigne(nt) différents prestataires de services de Enviro que cela soit pour le traitement de vos Commandes,
            la livraison des produits, le service après-vente, la fourniture de services technologiques, de publicité, les Réseaux Sociaux (tels que définis ci-après), etc.,
            ou encore plus spécifiquement de nos fournisseurs pour la réalisation des ventes de produits et/ou services sur le Site.
        </p>

        <p>
            « Règlementation sur les Données Personnelles » :
            désigne ensemble le RGPD, la Loi° 78-17 du 6 janvier 1978 relative à l’informatique,
            aux fichiers et aux libertés, modifiée et toute nouvelle loi, décrets pris pour son application.
        </p>

        <p>
            « RGPD » : désigne le Règlement Général sur la Protection des Données n°2016/679 du 27 avril 2016 applicable à partir du 25 mai 2018 ou, en lieu et place,
            toute loi qui viendrait à être adoptée en transposition dudit Règlement.
        </p>

        <p>
            « Site(s) » : désigne le site Internet backmarket.fr édité par Enviro en leur version web et mobile, ainsi que les applications mobiles correspondantes.
        </p>

        <p>« Terminal(aux) » : désigne l'équipement matériel (ordinateur, tablette, smartphone, téléphone, etc.) que vous utilisez pour consulter ou voir s'afficher le Site et/ou tout autre support numérique édité par un tiers.	</p>



    </main>
{% endblock %}
