{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('footer') }}
{% endblock %}
{% block title %}CONDITIONS GENERALES SAV {% endblock %}


{% block body %}
    <main>
        <h1 class="primary-title">Conditions générales SAV</h1>
        <div class="m-auto">
            <p>Contenu en cours d’élaboration</p>
            <p>Garanties</p>
            <p>Conditions d’exclusions</p>

        </div>
    </main>

{% endblock %}
