{% extends 'base.html.twig' %}


{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('footer') }}
{% endblock %}
{% block title %}CONDITIONS GENERALES SAV {% endblock %}


{% block body %}
    <main>
        <h1 class="primary-title">Conditions générales SAV</h1>
        <div class="m-auto">
            <p>Contenu en cours d’élaboration</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum, elit ut sollicitudin
            consectetur, elit mi blandit mi, finibus ultricies eros lectus nec erat. In ac sagittis nulla,
            at aliquet ipsum. Integer cursus bibendum nulla eu bibendum. Class aptent taciti sociosqu ad litora
            torquent per conubia nostra, per inceptos himenaeos. Nullam tincidunt nulla vel lectus finibus maximus.
            Integer aliquam, augue suscipit dignissim bibendum, ex velit molestie odio, dignissim dapibus metus
                velit id nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.</p>
            <p>Garanties</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum, elit ut sollicitudin
                consectetur, elit mi blandit mi, finibus ultricies eros lectus nec erat. In ac sagittis nulla,
                at aliquet ipsum. Integer cursus bibendum nulla eu bibendum. Class aptent taciti sociosqu ad litora
                torquent per conubia nostra, per inceptos himenaeos. Nullam tincidunt nulla vel lectus finibus maximus.
                Integer aliquam, augue suscipit dignissim bibendum, ex velit molestie odio, dignissim dapibus metus
                velit id nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.</p>
            <p>Conditions d’exclusions</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vestibulum, elit ut sollicitudin
                consectetur, elit mi blandit mi, finibus ultricies eros lectus nec erat. In ac sagittis nulla,
                at aliquet ipsum. Integer cursus bibendum nulla eu bibendum. Class aptent taciti sociosqu ad litora
                torquent per conubia nostra, per inceptos himenaeos. Nullam tincidunt nulla vel lectus finibus maximus.
                Integer aliquam, augue suscipit dignissim bibendum, ex velit molestie odio, dignissim dapibus metus
                velit id nulla. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.</p>

        </div>
    </main>

{% endblock %}
