{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <p class="primary-title">Devis de {{ devis.user.username }}</p>
    {% for simulation in devis.simulations %}
    <div class="row">
        Simulation n°{{ simulation.id }} - {{ simulation.ratecard.priceRateCard }} €
    </div>
    {% endfor %}
</div>
{% endblock %}
