<<<<<<< HEAD
=======

>>>>>>> d557734e26ea9c2d4b79caa3080e64394edb429f
$primary-color: #E98623;
$secondary-color: #4E596C;
$third-color : #DC4484;
$fourth-color : #007F68;
$custom-file-text: (
        fr: "Parcourir",
);