@import "vars";
@import "app";

label{
  min-width: 415px;
  position: relative;
  cursor: pointer;
  font-size: 19px;
}
input{
  width: 240px;
}
#user_edit_justifyDoc{
  width: 100px;
  height: 28px;
  padding: 5px 3px 3px 30px;
}