@import "vars";
@import '~bootstrap/scss/bootstrap';

.main-offers {
    margin: 10px 30px;

    .offer-box {
        display: flex;

        #offer-p {
            margin : 30px 19% 10px 30px;
            width: 50%;
            height: 500px;
        }

        p {
            margin: 30px;
        }
    }
}
