@import "vars";
@import '~bootstrap/scss/bootstrap';

.main-service {
    h2 {
        margin: 10px 30px 30px;

        img {
            margin: -12px 2px 0 2px;
        }
    }

    #p-box {
        margin : 10px 30px;
        width: 96%;
        height: 120px;
    }

    p {
        margin: 40px 30px 15%;
    }

    #p-setting {
        margin-bottom: 37px;

        img {
            height: 30px;
            padding-right: 5px;
            margin: -14px 5px 0 -1%;
        }
    }

    #box-img {
        display: flex;

        #box-p {
            margin : 10px 19% 10px 30px;
            width: 30%;
            height: 380px;
        }

        img {
            margin-bottom: -10px;
        }
    }

    #solution-box {
        margin-bottom: 1%;

        img {
            height: 30px;
            padding-right: 5px;
            margin: -14px 5px 0 -1%;
        }
    }

    #box-b2b {
        height: 400px;
    }
}
