{% extends 'admin/index.html.twig' %}

{% block title %}Utilisateurs - Enviro Services France{% endblock %}

{% block body %}
    <main class="container">
        <h1 class="primary-title">Gestion des utilisateurs</h1>
        <div class="row justify-content-center">
            <div class="col">
                <p class="secondary-title">Informations du client : </p>
                        <ul><a class="primary-button " href="">Il manque des éléments</a>

                            <li class="d-flex flex-column mb-5">{{ include('user/_form.html.twig') }}</li>


                        </ul>
            </div>
        </div>
      </main>
{% endblock %}