{% extends 'admin/index.html.twig' %}

{% block title %}Utilisateurs - Enviro Services France{% endblock %}

{% block body %}
    <main class="container">
        <h1 class="primary-title">Gestion des utilisateurs</h1>
        <div class="row justify-content-center">
            <div class="col">
                <p class="secondary-title">Utilisateurs en attente</p>
                <p class="text-center">Ici la liste des utilisateurs en attente d'approbation</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col">
                <p class="secondary-title">Utilisateurs déjà inscrits</p>
                <p class="text-center">Ici ceux déjà inscrits</p>
            </div>
        </div>
    </main>
{% endblock %}
