<form method="post" action="{{ path('booking_delete', {'id': booking.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir effacer?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ booking.id) }}">
    <button class="primary-button">Effacer</button>
</form>
