{% extends 'admin/index.html.twig' %}

{% block title %}Booking{% endblock %}

 {% block body %}
<h1 class="primary-title">Colis traités</h1>
<div class="row justify-content-center">
    <div class="col-8 border border-secondary p-2 m-2">

        {% if booking.isSentUser == true%}
        <tbody>
            <div class="col-12 p-3 m-3">
                <tr>
                    <th>Nom de l'entreprise</th>
                    <th>Date d'envoi</th>
                    <th>Date de retour</th>
                    <th>Contenu</th>
                </tr>
        </div>
                <div class="col-12 p-3 m-3">
                    <tr>
                        <td>{{ booking.user.username }}</td>
                        <td> {{ booking.receivedDate ? booking.receivedDate|date('Y-m-d H:i:s') : ''  }}</td>
                        <td> {{ booking.sentUserDate ? booking.sentUserDate|date('Y-m-d H:i:s') : ''   }}</td>
                        <td><a class="primary-button" href="{#{{ path('booking_edit', {'id': booking.id}) }}#}">Détail</a></td>

                    </tr>
                </div>

        {% endif %}

    </div>
</div>
{% endblock %}