
{%set i=0 %}
    {% for id in tracking %}
        {% set i=i+1 %}
<form method="post" action="{{ path('tracking_delete', {'id': tracking.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tracking.id) }}">
    <button class="primary-button">Delete</button>
</form>
{% endfor %}