{% block stylesheets %}
    {{ encore_entry_link_tags('collab-edit') }}
{% endblock %}
<div class="row justify-content-md-around">
{{ form_start(form) }}
    {{ form_widget(form) }}
{{ form_end(form) }}
</div>