
{% extends 'admin/index.html.twig' %}

{% block title %}New Tracking{% endblock %}

{% block body %}
    <h1>Create new Tracking</h1>

    {{ include('tracking/_form.html.twig') }}

    <a class="primary-button" href="{{ path('tracking_index') }}">Retour à la liste</a>
{% endblock %}
