{% block body %}
    <p>Bonjour {{ user.username }} !</p>
    <p>Nous avons bien reçu votre demande d'inscription.</p>
    <p>Nos équipes font le nécessaire pour y répondre favorablement le plus rapidement possible</p>
    <p>Vous receverez un e-mail une fois votre compte activé</p>

    <p class="address text-center mt-4">
        ENVIRO SERVICES FRANCE
        391 Avenue Clément Ader
        59118 Wambrechies></p>
{% endblock %}